body {
  margin: 0px;
  font-family: sans-serif;
}
.head {
  border-bottom: solid 1px lightgray;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 35% 1fr;
}
.menu {
  margin-top: 20px;
}
.r {
  padding-left: 10px;
  padding-right: 10px;
}
.b {
  border-right: solid 1px lightgray;
}
.menu2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 3px #445B89;
  padding: 15px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 20% 1fr;
}
.group1 {
  border-left: 1px solid lightgray;
  padding-left: 100px;
  padding-right: 100px;
}
.search {
  padding: 15px;
  padding-top: 28px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
/*
.slide{
  background-image: url('./src/background1.jpg');
  position: relative;
  left:13%;
  width: 1400px;
  height: 650px;
  background-repeat: no-repeat;
} */

}
.slideTitle1 {
  font-size: 30px;
  font-weight: bold;
}
